{{template "base" .}}

{{define "content"}}
    <div class="m-24">
        <h1 class="text-6xl text-neutral-600 my-8">This is the home Page...</h1>
        <p class="text-stone-600">Lorem ipsum dolor sit consectetur adipisicing elit.</p>
    </div>
{{end}}